.Navigation{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    margin-top: 0px;
    font-family: "Roboto-Medium";
    font-weight: lighter;

}
@font-face {
    font-family: 'Roboto-Medium';
    src: url("fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Roboto Thin";
    src: url("fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: 'Arseneca Thin';
    src: url("fonts/ArsenicaTrial-LightItalic.ttf");
}
li{
    margin-right: 30px;
    margin-top: 20px;
}
div{

    font: bold 14px/1.4 'Open Sans', arial, sans-serif;

}

ul {
   margin-top: 0px;
    padding: 0;
    list-style: none;
    display: table;
    width: 600px;
    text-align: center;
}
li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.navitem:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after {
    width: 100%;
    left: 0;
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
#logo{
    position: absolute;
    text-transform: capitalize;
    top: 2%;
    font-size: 35px;
    font-family: Arseneca, serif;
    margin-left: 3%;

}